.intro{
  max-width: 690px;
  display: flex;
  flex-direction: column;
  margin: 0 ;
  margin-top: 92px;
  margin-left: 148px;
  height: fit-content;
  color: #FFF;
}

@media screen and (max-width: 1279px) {
  .intro{
    margin-left: 148px;
  }
}

@media screen and (max-width: 1024px) {
  .intro{
    margin-left: 48px;
    margin-right: 48px;
  }
}

@media screen and (max-width: 767px) {
  .intro {
    margin-left: 16px;
    margin-right: 16px;
  }
}

