.intro{
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    margin-top: 92px;
    min-width: calc(100% - 2*148px);
    height: fit-content;
    color: #FFF;
}

@media screen and (max-width: 1279px) {
    .lead {
      min-width: calc(100% - 2*48px);
    }
}

  
@media screen and (max-width: 1023px) {
    .lead {
      min-width: 720px;
    }
}
  
@media screen and (max-width: 767px) {
    .lead {
      min-width: 288px;
     
    }
}
