.website__url-heading {
    margin: 0;
    max-width: 456px;
    height: 12px;
    font-weight: 400px;
    font-style: normal;
    font-size: 12px;
    color: #FFF;
    opacity: 0.5;
}

@media screen and (max-width: 767px) {
    .website__url-heading{
      margin-left: 16px;
    }
}