.footer-ul {
   list-style-type: none;
   display: grid;
   grid-template-columns: repeat(5, max-content);
   gap: 19px;
   grid-auto-flow: dense;
}

@media screen and (max-width: 767px) {
   .footer-ul {
      display: grid;
      grid-template-columns: none;
      grid-template-rows: repeat(5,max-content);
      gap: 32px;
      margin-top: 64px;
   }
}