.cover__title {
   margin: 0 auto;
   max-width: 560px;
   text-align: center;
   font-size: 72px;
   font-weight: 900;
   font-style: normal;
   line-height: 76px;
   z-index: 3;
   color: #FFF;
}   

media screen and (max-width: 1279px) {
   .cover__title {
      margin: 0 auto;
      margin-top: 195px;
   }
}
 
media screen and (max-width: 1023px) {
   .cover__title {
      margin-top: 115px;
   }
}

@media screen and (max-width: 767px) {
   .cover__title {
      max-width: 248px;
      font-size: 32px;
      line-height: 35px;
      margin-top: 33px;
   }
}    