.footer {
    display: flex;
    margin: 0 auto;
    justify-content: space-between;
    min-width: 1184px;
    flex-direction: row;
    margin-top: 92px;
    margin-bottom: 24px;
}

@media screen and (max-width: 1279px) {
    .footer {
       min-width: 928px;
       margin-left: 48px;
    }
}


@media screen and (max-width: 1023px) {
    .footer {
       min-width: 720px;
       margin-left: 24px;
    }
}
  
@media screen and (max-width: 767px) {
    .footer {
      flex-direction: column;
      min-width: 186px;
      margin-top: 32px;
      margin-left: 16px;
    }
}    