.footer {
    display: flex;
    margin: 0 auto;
    justify-content: space-between;
    min-width: 1184px;
    flex-direction: row;
    margin-top: 92px;
    margin-bottom: 24px;
    bo
}


@media screen and (max-width: 1279px) {
    .footer {
       min-width: 928px;
    }
}

 
@media screen and (max-width: 1023px) {
    .footer {
       min-width: 720px;
    }
}
  
@media screen and (max-width: 767px) {
    .footer {
      flex-direction: column;
      max-width: 186px;
      min-height: 310px;
    }
}    